* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: white;
    padding: 10px 0;
    background: linear-gradient(to right, #0000cc 0%, #000066 100%);
}

input {
    width: 100%;
    border-radius: 5px;
}

button {
    color: white;
    width: 100%;
    margin-top: 10px;
    background-color: RGB(123, 178, 221);
    border-radius: 5px;
}

#city-search-container {
    padding: 10px;
    border-bottom: 2px solid gray;
}

/* Changed background color to lighter gray because dark gray wouldn't allow user to see 'rain' on icons */
#day1, #day2, #day3, #day4, #day5 {
    background-color: #8C9CAD;
    font-size: small;
    padding-top: 10px;
    color: white;
}

#five-day-forecast {
    display: none;
}

#current-weather {
    border: 1px solid black;
    margin-bottom: 10px;
    display: none;
}

#current-city-name {
    font-weight: bold;
}

.savedCityBtns {
    background-color: rgb(131,145,161);
}